h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 84px;
  text-align: center;
}

h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 75px;
  text-align: center;
}

.Sunnydays-icon {
  color: #ffc54d;
}

.search-engine-form {
  text-align: center;
}
