h1 {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 0;
}

ul {
  margin: 0 0 8px;
  padding: 0;
}
li {
  font-size: 15px;
  list-style: none;
}

.Sunnydays-icon {
  color: #ffc54d;
  font-size: 55px;
  display: block;
  margin: 30px auto;
  width: 5%;
}

.search-engine-form {
  text-align: center;
}

.search-button {
  color: blueviolet;
}

.weather-app-format {
  border: 2px solid #ffc54d;
  margin: 28px auto, 28px, 5px;
  padding: 18px;
  border-radius: 18px;
}
.overview {
  margin-bottom: 20px;
}

.cities {
  font-size: 65px;
}
.temperature {
  font-size: 55px;
  font-weight: 400;
  line-height: 1;
}
.units {
  font-size: 18px;
  position: relative;
  top: -28px;
}

a:link {
  text-decoration: none;
}
